<ion-header>
  <ion-navbar>
    <ion-title>
      <div  class="title-page">
        <h1 class="fontTitle">Cun Radio</h1>
        <img class="iconoVerde" src="assets/imgs/icono-cun-verde.png">
      </div>       
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="sonido" *ngIf="prueba">
      <img class="imgSonido" src="assets/imgs/sonido-activado.png">
  </div>
  <div class="sonido" [hidden]="prueba">
      <img class="imgSonido" src="assets/imgs/sonidodesactivado.png">
  </div>
  <div class="iconoNiveles">
      <img class="imgNiveles" src="assets/imgs/niveles.png">
  </div>
  <div class="iconoApagar" (click)="play()" [hidden]="prueba"  >
    <img class="imgApagar" name="play"  src="assets/imgs/apagado.png">
  </div> 
  <div class="iconoApagar" (click)="pause()" *ngIf="prueba">
    <img class="imgApagar" name="pause"  src="assets/imgs/encendido.png">
  </div> 

</ion-content>
