page-about {

}
container-button-about{
    background-color:  #007d64;
}
.toolbar-title-md {
    color: #008c65;
}
.title-page{
    color: #008c65;
    align-items: flex-start
}
.fontTitle {
    margin-top: 10px;
    font-size: 2.6rem;
    float: left;
}.iconoVerde{
    float: right;
    margin-top: 10px;
    height: 40px;
}
.sonido{
    text-align: right;
    margin: 10px 6px;
}
.imgSonido{
    height: 30px;
}
.iconoNiveles{
    text-align: center;
    margin: 56px 0px;
}
.imgNiveles{
    height: auto;
}
.iconoApagar{
    text-align: center;
}
.imgApagar{
    height: 70px;
}
