<ion-header>
  <ion-navbar>
    <ion-title>
      <img class="imgCun" src="assets/imgs/1logo.png">
      <ion-searchbar (ionInput)="getItems($event)">
          <div class="searchbar-search-icon"></div>
      </ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding> 
    <ion-grid>
    <ion-row  >
      <ion-col   col-4 *ngFor="let iconsHome of iconshome; let i = index" (click)="pagepush(iconsHome.page)">
        <div  [ngClass]="{'verdeClaro':i%2 == 0, 'verdeOscuro': i%2 !== 0 }" >
         <div class="iconoImg" > <img class="imageIcono" [src]="iconsHome.imagen" alt="">  </div>
          <p>{{iconsHome.nombre}}</p>        
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


        <!-- (click)="prueba(iconsHome.nombre)" -->