page-home {

}
.ion-page{
    background-color: color($colors, primary);
}
.toolbar-ios {
    min-height: 100px;
}
.toolbar-background-md {
    background-color: color($colors, primary);
}
.toolbar-background-ios {
    background-color: color($colors, primary);
}
.tabs-md .tabbar,.tabs-ios .tabbar { 
    background-image: url(../assets/imgs/pie-de-pagina.png);
    background-color: transparent;
    background-position:center;
    background-size:contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    max-width: 100%;
    height: 58px;
    border-top-width: 0;    
}
.tabs-ios .tabbar{
height: 65px !important;
}
.content-md{
    background-color: color($colors, primary);
    margin-top: 110px;
}
.content-ios{
    background-color:color($colors, primary);
    margin-top: 0px;
}
.content .content-md{
    margin-top: 106px;
}
.content .content-ios{
    margin-top: 0px;
}
.toolbar-title-md {
    text-align: center;
    height: 91px;
}
.toolbar-title-ios {
    margin-top: 20px;
}
.toolbar-ios ion-title{
    padding: 0 10px;
}

.ion-app.md [padding] .scroll-content{
    padding: 10px;
}
.header-md{
    height: 0px;
}
.imgCun{
    margin-top: 10px;
    height: 43px;
}
.searchbar-md .searchbar-input {
    color: #fff;
    background: #005c61;
    padding: 0px 49px;
    border-radius: 20px;
}
.toolbar .searchbar-ios .searchbar-input {
    color: #fff;
    background: #005c61;
    padding: 0px 49px;
    border-radius: 20px;
    width: 100%
}
.grid {
    padding: 0px;
    margin-top: -10px;
}
.verdeClaro{
    background-color:color($colors, secondary);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 8px 6px;

}
.verdeOscuro{
    background-color: color($colors, third);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 8px 6px;

}
.col {
    padding: 6px 5px;
}
.imageIcono{
    /*border: 1px solid black;*/
    height: 39px;
    width: 45px;
    padding-top: 4px;
}
 p{
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
 }
 .iconoImg{
     text-align: center;
 }
ion-app.md [padding] {
    padding: 7px;
}
.tabs-md .tab-button-text {
    visibility: hidden;
}
.tabs-ios .tab-button-text {
    visibility: hidden;
}
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: inherit;
    bottom: 0;
}