// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:36px;
        width:10px;
        margin-bottom: -30px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}
.tabbar, .tabs-ios, .tabs-wp{
  .tab-button-icon {
    height:30px;
  }
}
.tabs-md .tab-button.icon-only{
  display: none;
}

.tabs-ios .tab-button.icon-only{
  display: none;
}

.tabs-ios {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label="noticiasIco"] {
       width: 42px;
      background-image: url(../assets/imgs/19noticias.png) !important;
    }
    .tab-button-icon[ng-reflect-name=ubicacionIco], .tab-button-icon[aria-label=ubicacionIco] {
      background-image: url(../assets/imgs/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      background-image: url(../assets/imgs/21cun.png);
      width: 70px;
      margin-bottom: -8px;
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=directorioIco] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
    background-image: url(../assets/imgs/23notificaciones.png);
    }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label=noticiasIco] {
      background-image: url(../assets/imgs/19noticias.png);
      width: 42px;
    }
    .tab-button-icon[ng-reflect-name=ubicacionIco], .tab-button-icon[aria-label=ubicacionIco] {
      background-image: url(../assets/imgs/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      background-image: url(../assets/imgs/21cun.png);
      width: 70px;
      margin-bottom: -8px;
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=directorioIco] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
        background-image: url(../assets/imgs/23notificaciones.png);
    }

  }
}

.tabs-md {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label="noticiasIco"] {
      background-image: url(../assets/imgs/19noticias.png);
      width: 42px;
    }
    .tab-button-icon[ng-reflect-name=ubicacionIco], .tab-button-icon[aria-label=ubicacionIco] {
      background-image: url(../assets/imgs/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      width: 70px;
      margin-bottom: -8px;
      background-image: url(../assets/imgs/21cun.png);
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=laUIc] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
    background-image: url(../assets/imgs/23notificaciones.png);
    }
  
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label=noticiasIco] {
      background-image: url(../assets/imgs/19noticias.png);
      width: 42px;
    }
    .tab-button-icon[ng-reflect-name=ubicacionIco], .tab-button-icon[aria-label=ubicacionIco] {
      background-image: url(../assets/imgs/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      width: 70px;
      margin-bottom: -8px;
      background-image: url(../assets/imgs/21cun.png);
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=directorioIco] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
        background-image: url(../assets/imgs/23notificaciones.png);
    }
  
  }
}

.tabs-wp {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label="noticiasIco"] {
      background-image: url(../assets/imgs/19noticias.png);
      width: 42px;
    }
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(../assets/img/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      width: 70px;
      margin-bottom: -8px;
      background-image: url(../assets/img/21cun.png);
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=directorioIco] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
        background-image: url(../assets/imgs/23notificaciones.png);
    }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=noticiasIco], .tab-button-icon[aria-label=noticiasIco] {
      background-image: url(../assets/imgs/19noticias.png);
      width: 42px;
      
    }
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(../assets/img/20sedes.png);
    }
    .tab-button-icon[ng-reflect-name=laUIco], .tab-button-icon[aria-label=laUIco] .personality{
      width: 70px;
      margin-bottom: -8px;
      background-image: url(../assets/img/21cun.png);
    }
    .tab-button-icon[ng-reflect-name=directorioIco], .tab-button-icon[aria-label=directorioIco] {
        background-image: url(../assets/imgs/22directorio.png);
    }
    .tab-button-icon[ng-reflect-name=notificacionesIco], .tab-button-icon[aria-label=notificacionesIco] {
        background-image: url(../assets/imgs/23notificaciones.png);
    }
  }
}